

.stepper-container{
    display: flex;
    flex-direction: row;
    width: 80%;
    gap: 30px;
    margin: 30px auto;
    position: relative;
}


.stepper{
    margin: 0 auto;
    padding: 7px 10px;
    color: #4b515c;
    background-color: white;
    border: 1px solid #98a2b15e;
    border-radius: 50%;
    cursor: pointer;
}

.active-stepper{
    color: white;
    background-color: rgba(102,77,229,255);
    border: 1px solid rgba(102,77,229,255);
}

.hello{
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    height: 2px;
    position: absolute;
    background-color: #d8dadd9c;
}

.hello::-webkit-progress-bar {background: #d8dadd9c; width: 100%;}
.hello::-webkit-progress-value {background:  rgba(102,77,229,255) !important;}
