.landing-container{
    width: 35%;
    margin: 0 auto;
}
.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px auto;
    align-items: center;
    margin-top: 50px;
}