.landing-container{
    width: 35%;
    margin: 0 auto;
}
.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px auto;
    align-items: center;
    margin-top: 50px;
}
@media all and (max-width:320px){
    .landing-container{
        width: 100%;
        margin: 0 auto;
    }
}

@media all and (max-width:375px){
    .landing-container{
        width: 100%;
        margin: 0 auto;
    }
}
@media all and (max-width:425px){
    .landing-container{
        width: 100%;
        margin: 0 auto;
    }
}