.name{
    margin-top: 60px;
}
.name > form {
    display: flex;
    flex-direction: column;
}

.name > form > input::placeholder {
    color: #98a2b1;
    }
.details > input {
    width:80%;
    margin: 0 auto;
    height: 30px;
    border-radius: 4px;
    outline: none;
    border: 1px solid lightgray;
}
.details > label {
    width:80%;
    margin: 8px auto;
}

.btn1 {
    width:80%;
    align-self: center;
    border-radius: 4px;
    height: 30px;
}

