.workspace{
    margin-top: 60px;
}
.workspace > form {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}
.workspace > form > input::placeholder {
    color: #98a2b1;
    }
.workspace_details > input {
    width: 80%;
    padding-left: 10px;
    margin: 0 auto;
    height: 32px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #d8dadd9c;
}
.workspace_details > label {
    width:80%;
    margin: 10px auto 6px auto;
}

.btn2 {
    width:80%;
    align-self: center;
    border-radius: 4px;
    height: 32px;
}

